@model Models.Supplier

@{
    ViewData["Title"] = "Supplier - Create";
    ViewData["PageTitle"] = "Supplier";
    ViewData["PageType"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServiceDeskTel" class="control-label"></label>
            <input asp-for="ServiceDeskTel" class="form-control" />
            <span asp-validation-for="ServiceDeskTel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ServiceDeskMail" class="control-label"></label>
            <input asp-for="ServiceDeskMail" class="form-control" />
            <span asp-validation-for="ServiceDeskMail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ServiceDeskWeb" class="control-label"></label>
            <input asp-for="ServiceDeskWeb" class="form-control" />
            <span asp-validation-for="ServiceDeskWeb" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="HasHardware" /> @Html.DisplayNameFor(model => model.HasHardware)
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4">

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="HasSoftware" /> @Html.DisplayNameFor(model => model.HasSoftware)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsActief" /> @Html.DisplayNameFor(model => model.IsActief)
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" /> |
            <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
        </div>
    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
