<@*h3 class="text-danger">
    Uw account is vergrendeld, probeer nogmaals in 5 minuten of
    je kan u paswoord ressten door <a asp-action="ForgotPassword" asp-controller="Register">hier</a> te klikken.
</h3>*@
<h3 class="text-danger">
    Your account has been locked , try again in 5 minutes or reset your password by clicking
    <a asp-action="ForgotPassword" asp-controller="Register">here</a>
</h3>
