@*<h4>
    Indien u een geregistreerde gebruiker bent wordt er een email met instructies verzonden.
    Om uw paswoord te resetten volg de instructies.

    Account beheer
</h4>*@
<h4>
  If you are a registered user , there has been send an email with instructions. To reset your password
    follow the instructions.

    Account management.
</h4>