@{
    ViewData["Title"] = "Reset Password Confirmation";
    ViewData["PageTitle"] = "Confirmation password reset";
    //ViewData["PageType"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>
    Your password has been resetted. Click <a asp-action="Login">here to log in.</a>
</h4>

