@model Models.Location

@{
    ViewData["Title"] = "Location - Edit";
    ViewData["PageTitle"] = "Location";
    ViewData["PageType"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationID" />
            <div class="form-group">
                <label asp-for="BuildingId" class="control-label"></label>
                <select asp-for="BuildingId" class="form-control" asp-items="ViewBag.BuildingId"><option disabled selected>---Select---</option></select>
                <span asp-validation-for="BuildingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorId" class="control-label"></label>
                <select asp-for="FloorId" class="form-control" asp-items="ViewBag.FloorId"><option disabled selected>---Select---</option><option value="null">---None---</option></select>
                <span asp-validation-for="FloorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"><option disabled selected>---Select---</option><option value="null">---None---</option></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNo" class="control-label"></label>
                <input asp-for="RoomNo" class="form-control" />
                <span asp-validation-for="RoomNo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsWarehouse" /> @Html.DisplayNameFor(model => model.IsWarehouse)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
