@model Models.Detail

@{
    ViewData["Title"] = "Detail - Edit";
    ViewData["PageTitle"] = "Detail";
    ViewData["PageType"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="DetailID" />


    <div class="form-group row">
        <label asp-for="DetailMainID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <select asp-for="DetailMainID" class="form-control" asp-items="ViewBag.DetailMainID">
            <option disabled selected>---Select---</option></select>
            <span asp-validation-for="DetailMainID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="DetailSubID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <select asp-for="DetailSubID" class="form-control" asp-items="ViewBag.DetailSubID">
            <option disabled selected>---Select---</option></select>
            <span asp-validation-for="DetailSubID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SelectProductTypes" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <select multiple="multiple" class="form-control multi-select" asp-for="SelectProductTypes" asp-items="ViewBag.SelectedProductTypes" size="15">
            <option disabled selected>---Select---</option></select>
            <p><em>@Localizer["Pls click on Ctrl button first to select multi choises or Shift for range!"]</em></p>
            <span asp-validation-for="SelectProductTypes" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />|
        <a class="btn btn-outline-info" asp-action="Index">@Localizer["Back to List"]</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
