@model BLL.ViewModels.HardwareViewModel

@{
    ViewData["Title"] = "Hardware - Create";
    ViewData["PageTitle"] = "Hardware";
    ViewData["PageType"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hardware.ProductTypeID" class="control-label"></label>
                <select asp-for="hardware.ProductTypeID" class="form-control" asp-items="ViewBag.ProductTypeID"><option disabled selected>---Select---</option></select>
                <span asp-validation-for="hardware.ProductTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hardware.Name" class="control-label"></label>
                <input asp-for="hardware.Name" class="form-control" />
                <span asp-validation-for="hardware.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hardware.Description" class="control-label"></label>
                <input asp-for="hardware.Description" class="form-control" />
                <span asp-validation-for="hardware.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hardware.StatusID" class="control-label"></label>
                <select asp-for="hardware.StatusID" class="form-control" asp-items="ViewBag.StatusID"><option disabled selected>---Select---</option></select>
                <span asp-validation-for="hardware.StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hardware.InfoUrl" class="control-label"></label>
                <input asp-for="hardware.InfoUrl" class="form-control" />
                <span asp-validation-for="hardware.InfoUrl" class="text-danger"></span>
            </div>
        @*<div class="form-row">*@
            <div class="form-group">
                <label asp-for="FileDescription" class="control-label"></label>
                <input type="text" asp-for="FileDescription" class="form-control" />
                <span asp-validation-for="FileDescription" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" asp-for="File">
                @*<label class="custom-file-label" asp-for="File" ></label>*@
                <label class="custom-file-label" asp-for="File" data-browse="Bestand kiezen"
                >@Localizer["Only 1 PDF file can be added"]</label>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
        @*</div>*@

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" /> |
            <a class="btn btn-outline-info" asp-action="Index">@Localizer["Back to List"]</a>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
