<div class="text-center">
    <h1 class="text-danger">@Localizer["No access"]</h1>
    <h6 class="text-danger">
        @Localizer["You have no right to view this page"]</h6>
        <img src="~/images/icons/geen-toegang.png" />

</div>
<div>
    <a asp-action="Index" asp-controller="Home">@Localizer["Back to dashboard"]</a>

</div>
