
@{
    ViewData["Title"] = "Role&Claims - Overview";
    ViewData["PageTitle"] = "Role & Claims overview";
    ViewData["PageType"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

   
}

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .tg th {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .tg .tg-0pky {
                border-color: inherit;
                text-align: left;
                vertical-align: top
            }
    </style>

<table class="tg">
    <thead>
        <tr>
            <th class="tg-0pky"></th>
            <th class="tg-0pky">Administrator</th>
            <th class="tg-0pky">UserCRUD</th>
            <th class="tg-0pky">UserCRU</th>
            <th class="tg-0pky">UserR</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-0pky">Create</td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
        </tr>
        <tr>
            <td class="tg-0pky">Read</td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
        </tr>
        <tr>
            <td class="tg-0pky">Edit / Update</td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
        </tr>
        <tr>
            <td class="tg-0pky">Delete</td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
        </tr>
        <tr>
            <td class="tg-0pky">Rollen toevoegen</td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
        </tr>
        <tr>
            <td class="tg-0pky">Claims toevoegen</td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
        </tr>
    </tbody>
</table>

