@model Models.LicenseType

@{
    ViewData["Title"] = "License type - Create";
    ViewData["PageTitle"] = "License type";
    ViewData["PageType"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimitedUse" class="control-label"></label>
                <input type="checkbox" asp-for="LimitedUse" class="form-control" />
                <span asp-validation-for="LimitedUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnlimitedUse" class="control-label"></label>
                <input type="checkbox" asp-for="UnlimitedUse" class="form-control" />
                <span asp-validation-for="UnlimitedUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> | 
                <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
